@model List<HomeVm>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Workshop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>


       @foreach(var item in Model)
    {
        <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
        </tr>
    
    
     }
    </tbody>

</table>